<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <table class="table table-bordered">
    <thead>
        <tr class="success">
            <th colspan="2">
                Password change                    
            </th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>Old password:</td>
        <td>
            <input type="password" formControlName="OldPassword" placeholder="Current password...">
        </td>
      </tr>
      <tr>
        <td>New password:</td>
        <td>
            <input type="password" title="Password must have at least one uppercase, one lowercase letter, one digit and one special character." formControlName="NewPassword" placeholder="New password...">
        </td>
      </tr>
      <tr>
        <td>Confirm new password:</td>
        <td>
            <input type="password" formControlName="ConfirmPassword" placeholder="New password...">
        </td>
      </tr>
      <tr class="success">
        <td colspan="2">
              <button [disabled]="!changePasswordForm.valid" class="btn btn-success pull-right" type="submit">Confirm</button>
        </td>
        </tr>
        <tr class="warning" *ngIf="message != ''">
            <th style="text-align:center" colspan="2">
                <label>{{message}}</label>
            </th>
        </tr>
    </tbody>
  </table>
</form>
