<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <table class="table table-bordered" *ngIf="!loginClicked">
      <thead>
          <tr class="success">
              <th colspan="2">
                  Registration                    
              </th>
          </tr>
      </thead>
      <tbody>
          <tr id="upozorenje" class="hidden">
              <td colspan="2"><strong>Greska!</strong>Vec postoji korisnik sa zadatim korisnickim imenom</td>
          </tr>
          <tr>
              <td>Username:</td>
              <td>
                  <input type="text" formControlName="UserName" placeholder="Username..." required>
              </td>
          </tr>
          <tr>
              <td>Email:</td>
              <td>
                  <input type="text" formControlName="Email" placeholder="Email..." required>
              </td>
          </tr>
          <tr>
              <td>Password:</td>
              <td>
                  <input type="password" formControlName="Password" placeholder="Password..." required>
              </td>
          </tr>
          <tr>
              <td>Confirm password:</td>
              <td>
                  <input type="password" formControlName="ConfirmPassword" placeholder="Confirm password..." required>
              </td>
          </tr>
          <tr>
              <td>Name:</td>
              <td>
                  <input type="text" id="txtIme" pattern="^[A-Za-z]*$" formControlName="Name" placeholder="Name..."> 
              </td>
          </tr>
          <tr>
              <td>Surname:</td>
              <td>
                  <input type="text" formControlName="Surname" placeholder="Surname...">
              </td>
          </tr>
          <tr>
              <td>Address:</td>
              <td>
                  <input type="text" formControlName="Address" placeholder="Address...">
              </td>
          </tr>
          <tr>
              <td>Phone number:</td>
              <td>
                  <input type="text" formControlName="PhoneNumber" placeholder="Phone number..."> 
              </td>
          </tr>
          <tr>
              <td>Date of birth:</td>
              <td>
                  <input type="text" formControlName="DateOfBirth" placeholder="Date of birth..."> 
              </td>
          </tr>
          <tr>
              <td colspan="2">
                <button class="btn btn-default glyphicon glyphicon-arrow-down" type="button" id="document" (click)="optionsClick()">More options</button>
              </td>
          </tr>
          
          <tr class="success">
              <td colspan="2">
                    <button class="btn btn-success pull-right" type="submit"> Register</button>
              </td>
          </tr>
      </tbody>
  </table>
  </form>
  <app-upload-document *ngIf="moreOptionsActive"></app-upload-document>