<table class="table table-bordered">
  <thead>
      <tr class="success">
          <th colspan="2">
              Ticket validation
          </th>
      </tr>
  </thead>
  <tbody>
        <tr>
            <td>
                Enter ticket ID:
            </td>
            <td>
                <input type="text" [(ngModel)]="ticketId" [value]="ticketId" placeholder="Ticket ID..." required>
            </td>
        </tr>           
        <tr class="success">
            <td colspan="2">
                <button [disabled]="!ticketId" class="btn btn-success pull-right" type="submit" (click)="isValid()">Submit</button>             
            </td>
        </tr>
        <tr class="warning" *ngIf="message != ''">
            <th style="text-align:center" colspan="2">
                <label>{{message}}</label>
            </th>
        </tr>
  </tbody>
</table>