<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-nav">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand glyphicon glyphicon-home" id="pocetna" href="#"> Home </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <ul class="nav navbar-nav navbar-right">
              <li><a class="navbar-brand" id="cjenovnik" data-toggle="modal" routerLink="/pricelist">Pricelist</a></li> 
              <li><a class="navbar-brand" id="redVoznji" data-toggle="modal" routerLink="/schedules">Schedule</a></li>                   
              <li><a class="navbar-brand" id="mrezaLinija" data-toggle="modal" data-target="#myloc" href="#">Lines</a></li> 
              <li><a class="navbar-brand" id="trenutneLokacije" data-toggle="modal" data-target="#myloc" href="#">Current locations</a></li>           
              <!--li class="dropdown">
                  <a href="#" id="korisnik" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a id="prikaziPodatke" href="#">Moji podaci</a></li>
                      <li><a id="izmijeniPodatke" href="#">Izmijeni podatke</a></li>
                      <li><a id="prikaziAuto" href="#">Podaci o automobilu</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a id="promijeniSifru" href="#">Promijeni sifru</a></li>
                  </ul>
              </li-->
              <li><a class="navbar-brand glyphicon glyphicon-log-out pull-right" id="logout" routerLink="" (click)="logoutClick()"> Logout </a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>