<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-nav">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand glyphicon glyphicon-home" id="pocetna" href="#"> Home </a>
        </div>
  
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-brand" id="verifications" data-toggle="modal" *ngIf="isController()"  routerLink="/verifications">Verifications</a></li> 
                <li><a class="navbar-brand" id="validation" data-toggle="modal" *ngIf="isController()" routerLink="/validation">Validation</a></li>                 
                <li><a class="navbar-brand" id="cjenovnik" data-toggle="modal" routerLink="/pricelist">Pricelist</a></li> 
                <li><a class="navbar-brand" id="dodajCjenovnik" *ngIf="isAdmin()" data-toggle="modal" routerLink="/addpricelist">Add pricelist</a></li> 
                <li><a class="navbar-brand" id="azurirajCjenovnik" *ngIf="isAdmin()" data-toggle="modal" routerLink="/updatepricelist">Update pricelist</a></li>
                <li><a class="navbar-brand" id="karta" data-toggle="modal" *ngIf="!isAdmin() && !isController()" routerLink="/buyticket">Buy ticket</a></li>                 
                <li><a class="navbar-brand" id="redVoznji" data-toggle="modal" routerLink="/schedules">Schedule</a></li>
                <li><a class="navbar-brand" id="dodajStanicu" data-toggle="modal" *ngIf="isAdmin()" routerLink="/addstation">Add station</a></li> 
                <li><a class="navbar-brand" id="dodajRedVoznje" data-toggle="modal" *ngIf="isAdmin()" routerLink="/addschedule">Add schedule</a></li> 
                <li><a class="navbar-brand" id="dodajLiniju" data-toggle="modal" *ngIf="isAdmin()" routerLink="/addline">Add line</a></li>                 
                <li><a class="navbar-brand" id="linija" data-toggle="modal" *ngIf="isAdmin()" routerLink="/editlines">Edit lines</a></li> 
                <li><a class="navbar-brand" id="mrezaLinija" data-toggle="modal" routerLink="/lines">Lines</a></li>
                <li><a class="navbar-brand" id="trenutneLokacije" data-toggle="modal" data-target="#myloc" href="#">Current locations</a></li>   
                
                <li class="dropdown">
                  <a id="korisnik" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User options<span class="caret"></span></a>
                  <ul class="dropdown-content">
                      <li><a id="prikaziPodatke" routerLink="/userdata">Personal data</a></li>
                      <li *ngIf="isAppUser()"><a id="prikaziKartu" routerLink="/checkTicket">My ticket</a></li>
                      <li *ngIf="isAppUser()"><a id="dokument" routerLink="/document">Personal document</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a id="promijeniSifru" routerLink="/passwordchange">Password change</a></li>
                  </ul>
                </li>
                <li><a class="navbar-brand glyphicon glyphicon-log-out pull-right" id="logout" routerLink="" (click)="logoutClick()"> Logout </a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>