<select #lineNumber (change)='onSelectionChanged($event)'>
  <option>-- Please Select --</option>
  <option *ngFor='let lineNum of lines' [value]="lineNum">{{lineNum}}</option>
</select>
<table *ngIf="lineData" class="table table-bordered">
  <thead>
      <tr class="success">
          <th colspan="2">
              Line details                    
          </th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Line id:</td>
          <td>
            <label>{{lineData.Id}}</label>
          </td>
      </tr>
      <tr>
        <td>Line number</td>
        <td>
            <input type="text" [(ngModel)]="lineData.Number" value="{{lineData.Number}}" placeholder="Line number..." required>
        </td>
      </tr>
      <tr>
        <td>Line type:</td>
        <td>
          <select [(ngModel)]="lineData.LineType" [value]="lineData.LineType">
            <option value="0">Urban</option>
            <option value="1">Suburban</option>
          </select>
        </td>
    </tr>
      <tr>
          <td>Stations:</td>
          <td>
            <div #stations *ngFor='let station of allStations'>
              <input type="checkbox" [checked]="IsInList(station)" (change)="onStationChange($event)" [value]="station">{{station}}<br/>
            </div>
          </td>
      </tr>
      
      <tr class="success" *ngIf="!isConflict">
          <td>
              <button class="btn btn-danger pull-left" (click)="removeLine()">Remove line</button>
          </td>
          <td>
                <button class="btn btn-success pull-right" (click)="onSubmit()">Save changes</button>
          </td>
      </tr>
      <tr class="success" *ngIf="isConflict">
            <td colspan="2">
                  <button class="btn btn-success pull-right" (click)="discardChanges()">Discard local changes</button>
            </td>
        </tr>
        <tr class="success" *ngIf="isConflict">
          <td colspan="2">
                <button class="btn btn-success pull-right" (click)="overwrite()">Overwrite</button>
          </td>
      </tr>
      <tr class="warning" *ngIf="message != ''">
            <th style="text-align:center" colspan="2">
                <label>{{message}}</label>
            </th>
        </tr>
  </tbody>
</table>