<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <table class="table table-bordered" *ngIf="!registerClicked && !isLoggedIn()">
      <thead>
          <tr class="success">
              <th colspan="2">
                  Login
              </th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Username:</td>
              <td>
                  <input type="text" formControlName="UserName" placeholder="Username or email..." required>
              </td>
          </tr>
          <tr>
              <td>Password:</td>
              <td>
                  <input type="password" formControlName="Password" placeholder="Password..." required>
              </td>
          </tr>
          <tr class="success">
              <td colspan="2">
                  <button [disabled]="!loginForm.valid" class="btn btn-success pull-right" type="submit">Login</button>
              </td>
          </tr>
          <tr class="warning" *ngIf="message != ''">
                <th style="text-align:center" colspan="2">
                    <label>{{message}}</label>
                </th>
            </tr>
      </tbody>
  </table>
</form>