<form [formGroup]="addStationForm" (ngSubmit)="onSubmit()">
  <table class="table table-bordered">
      <thead>
          <tr class="success">
              <th colspan="2">
                  Add new station
              </th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Name:</td>
              <td>
                  <input type="text" formControlName="Name" placeholder="Name...">
              </td>
          </tr>
          <tr>
              <td>Address:</td>
              <td>
                  <input type="text" formControlName="Address" placeholder="Address...">
              </td>
          </tr>
          <tr>
              <td>Latitude:</td>
              <td>
                  <input type="text" formControlName="Lat" pattern="^[0-9\.]*$"  placeholder="Latitude...">
              </td>
          </tr>
          <tr>
              <td>Longitude:</td>
              <td>
                  <input type="text" formControlName="Lon" pattern="^[0-9\.]*$" placeholder="Longitude...">
              </td>
          </tr>
          <tr class="success">
              <td colspan="2">
                  <button [disabled]="!addStationForm.valid" class="btn btn-success pull-right" type="submit">Add station</button>
              </td>
          </tr>
          <tr class="warning" *ngIf="message != ''">
                <th style="text-align:center" colspan="2">
                    <label>{{message}}</label>
                </th>
        </tr>
      </tbody>
  </table>
</form>