<table class="table table-bordered">
      <thead>
          <tr class="success">
              <th colspan="2">
                  Pricelist
              </th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Select ticket type:</td>
              <td>
                <select #ticketType>
                  <option value="0">Hourly ticket</option>
                  <option value="1">Daily ticket</option>
                  <option value="2">MothlyTicket</option>
                  <option value="3">AnnualTicket</option>
                </select>
              </td>
          </tr>  
          <tr>
            <td>Price:</td>
            <td>{{price}}</td>
          </tr>        
          <tr class="success">
              <td colspan="2">
                <button class="btn btn-success" type="submit" (click)="onSubmit(ticketType.value)">Submit</button>
              </td>
          </tr>
      </tbody>
  </table>