<table class="table table-bordered">
    <thead>
        <tr class="success">
            <th colspan="5" style="text-align:center">
                All users in system                    
            </th>
        </tr>
        <tr class="success">
            <th style="text-align:center">Username</th>
            <th style="text-align:center">Address</th>
            <th style="text-align:center">Customer type</th>
            <th style="text-align:center">Verification status</th>
            <th style="text-align:center"></th>
        </tr>
    </thead>
    <tbody class="success">
        <tr *ngFor="let user of users">
          <td style="text-align:center"> {{user.UserName}} </td>
          <td style="text-align:center"> {{user.Address}} zamijeniti sa dokumentom</td>
          <td style="text-align:center"> {{typetoString(user.CustomerType)}} </td>
          <td style="text-align:center"> {{statusToString(user.Status)}}</td>
          <td style="text-align:center"><button *ngIf="user.Status != 2" (click)="onVerify(user.UserName)" class="btn btn-success">Verify</button>
            &nbsp;&nbsp;&nbsp;<button (click)="onDecline(user.UserName)" class="btn btn-danger">Decline</button></td>
        </tr>
      </tbody>
  </table>
