<table class="table table-bordered">
  <thead>
      <tr class="success">
          <th colspan="2">
              Schedule
          </th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>
                Select line type:
          </td>
          <td>
                <select #lineType (change)='onOptionSelected($event)'>
                        <option value="">-- Please select --</option>
                        <option value="0">Urban</option>
                        <option value="1">Suburban</option>
                </select>
          </td>
      </tr>
      <tr>
            <td>
                  Select line number:
            </td>
            <td>
                <select #lineNumber>
                        <option value="">-- Please Select --</option>
                        <option *ngFor='let lineNum of lines' [value]="lineNum">{{lineNum}}</option>
                </select>
            </td>
      </tr>  
      <tr>
            <td>
                  Select day:
            </td>
            <td>
                <select #dayType>
                        <option value="0">Workday</option>
                        <option value="1">Saturday</option>
                        <option value="2">Sunday</option>
                </select>
            </td>
      </tr>      
      <tr class="success">
          <td colspan="2">
              <button class="btn btn-success pull-right" type="submit" (click)="onSubmit(lineNumber.value, dayType.value)">Submit</button>
          </td>
      </tr>
  </tbody>
</table>


<div>
<table id="table" class="table table-bordered">
  <thead>
    <tr class="success">
      <th style="text-align:center">{{scheduleTableHeader}}</th>
    </tr>
  </thead>
  <tbody class="success">
    <tr *ngFor="let sch of schedules">
      <td style="text-align:center"> {{sch}} </td>
    </tr>
  </tbody>
</table>
</div>
