<table *ngIf="userDetails != undefined" class="table table-bordered">
    <thead>
        <tr class="success">
            <th colspan="2">
                User details                    
            </th>
        </tr>
    </thead>
    <tbody>
        <tr id="upozorenje" class="hidden">
            <td colspan="2"><strong>Greska!</strong>Vec postoji korisnik sa zadatim korisnickim imenom</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>
              <label>{{userDetails.UserName}}</label>
            </td>
        </tr>
        <tr>
            <td>Verifications status:</td>
            <td>
              <label>{{statusToString(userDetails.Status)}}</label>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="text" [(ngModel)]="userDetails.Email" value="{{userDetails.Email}}" (change)="onChange($event)" placeholder="Email..." required>
            </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" [(ngModel)]="userDetails.Name" value="{{userDetails.Name}}" (change)="onChange($event)" pattern="^[A-Za-z]*$" placeholder="Name..."> 
            </td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td>
                <input type="text" [(ngModel)]="userDetails.Surname" value="{{userDetails.Surname}}" (change)="onChange($event)" placeholder="Surname...">
            </td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>
                <input type="text" [(ngModel)]="userDetails.Address" value="{{userDetails.Address}}" (change)="onChange($event)" placeholder="Address...">
            </td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td>
                <input type="text" [(ngModel)]="userDetails.PhoneNumber" value="{{userDetails.PhoneNumber}}" (change)="onChange($event)" placeholder="Phone number..."> 
            </td>
        </tr>
        <tr>
            <td>Date of birth:</td>
            <td>
                <input type="text" [(ngModel)]="userDetails.DateOfBirth" value="{{userDetails.DateOfBirth}}" (change)="onChange($event)" placeholder="Date of birth..."> 
            </td>
        </tr>
        <tr>
            <td>Customer type:</td>
            <td>
                <label>{{typetoString(userDetails.CustomerType)}}</label>
            </td>
        </tr>
        
        <tr class="success">
            <td colspan="2">
                  <button class="btn btn-success pull-right" *ngIf="isChanged" (click)="onSubmit()">Save changes</button>
            </td>
        </tr>
    </tbody>
</table>